<div class="col-md-10">
<div id="about" class="collapse  panels">
  <h4>Mark Anthony Ortega</h4>
  <div class="col-md-7">
    <h5>Background:</h5>
    <ul>
      <li>Graduated from University of Texas at Austin (BA Economics)</li>
      <li>Texas - Born and Raised </li>
      <li>Serial Entrepreneur (Started five businesses)</li>
    </ul>
    <h5>Skills:</h5>
    <ul>
      <li>Programming - Ruby, Rails, Javascript, JQuery</li>
      <li>Deployment - Heroku</li>
      <li>Source Control - Git, GitHub </li>
      <li>Testing - Continuous Integration, RSpec, Capybara, FactoryGirl</li>
      <li>Misc. - HTML, CSS, Heroku, AWS S3, Bootstrap 3</li>
    </ul>
    <h5>Three Facts:</h5>
    <ul>
      <li>Sold small venture to Whisper (iPhone app)</li>
      <li>Started first business at age 11</li>
      <li>Love my Frenchie (Mr. Oliver)</li>
    </ul>
  </div>
  <div class="col-md-5">
    <%= image_tag "oliver.png", class: "oliver center-block" %>
    <p style="text-align: center;">Mr. Oliver </p>
  </div>

</div> 
</div>