<div class="col-md-10">
<div id="projects" class="collapse in panels" >
  <%= image_tag "simplebuyback.png", class: "center-block",width: "300px" %>
  <h4 style="text-align: center;">(Under Development - ETA 10/26/14)</h4>
  <h4>Summary:</h4>
  <p><%= link_to "SimpleBuyBack", 'http://www.simplebuyback.com' %> allows consumers to sell their used electronics.
  Sellers navigate the website to select their device and receive a quote. If they accept the quote they may mail in their
  device. The seller is paid after the device is received and verified. The website contains a crawler that gathers competitor data and 
  updates prices accordingly. .</p>
  <table class="project">
    <tr>
      <td style="width: 40%;">
        <h4>Features:</h4>
        <li>Crawler w/ Automatic Price Updates</li>
        <li>Custom Navigation</li>
        <li>Dynamic Homepage that changes according to items being purchased</li>
      </td>
      <td>
        <h4>Technologies Utilized:</h4>
        <li>Testing - RSpec, FactoryGirl, Capybara</li>
        <li>Source Control - Git, GitHub(Private Repository) </li>
        <li>Deployment - Heroku</li>
        <li>Code - Ruby, Ruby on Rails, HTML5, CSS3, JQuery </li>
        <li>Misc. - Twitter Bootstrap 3, Amazon Web Services S3</li>
      </td>
    </tr>
  </table>
  <%= image_tag "navigation.png", width: "500px", class: "center-block" %>
  <div class="pad20"></div>
</div>
</div>