<div class="row">
  <div class="col-md-4">&nbsp; </div>
  <div class="center-block col-md-4">
    <h1>Site Under Construction</h1> 
  </div>
</div>
<%= render "resume" %>
  <div class="col-md-3 col-md-offset-1">
    <div class="col-md-12">
    <div class="profile_area">
      <div class="profile_inner">
        <div class="profile_picture">
          <a href="#">
            <%= image_tag "profile_pic.png"%>
          </a>
        </div>
        <h2><a href="">Mark Anthony Ortega</a></h2>
        <p>Entrepreneur and Ruby on Rails Developer</p>
        <div class="social_icon">
          <a class="fa fa-envelope" href="mailto:mortega@utexas.edu"></a>
          <a class="fa fa-github resume" title="GitHub" href="http://github.com/markscoin"></a>
          <a class="fa fa-facebook-square" href="http://www.facebook.com/MarkAnthonyOrtega"></a>
          <a class="fa fa-linkedin-square" href="http://www.linkedin.com/in/mortega2/"></a>
          <a class="fa fa-stack-overflow resume" title="StackOverflow" href="http://stackoverflow.com/users/3870853/mark-ortega"></a>
          <a class="fa resume fa-angellist" title="Angel List" href="http://angel.co/markanthonyortega"></a>
          <a href="#" class="resume fa fa-file-pdf-o" title="Resume" data-toggle="modal" data-target="#ortega_resume"></a>
        </div>
        
      </div>
    </div>
    </div>
    <div class="col-md-12">
    </div>
  </div>
  <div class="col-md-4">
    <h2>About</h2>
    <p>stuff</p>
    <div></div>
  </div>
  <div class="col-md-4">
    <h2>Projects</h2>
    <p>stuff</p>
  </div>


