<h1>Site Under Construction (ETA: 10/20/14)</h1>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="profile_area">
  <div class="profile_inner">
    <div class="profile_picture">
      <a href="#">
        <%= image_tag "profile_pic.png"%>
      </a>
    </div>
    <h2><a href="">Mark Anthony Ortega</a></h2>
    <p>Entrepreneur and Ruby on Rails Developer</p>
    <div class="social_icon">
      <a class="fa fa-github" href="http://github.com/markscoin"></a>
      <a class="fa fa-facebook-square" href="http://www.facebook.com/MarkAnthonyOrtega"></a>
      <a class="fa fa-linkedin-square" href="http://www.linkedin.com/in/mortega2/"></a>
      <a class="fa fa-stack-overflow" href="http://stackoverflow.com/users/3870853/mark-ortega"></a>
      <a class="fa fa-angellist" href="http://angel.co/markanthonyortega"></a>
    </div>
  </div>
  </div>
</div>

