<h1>Site Under Construction (ETA: 10/14/14)</h1>
<h3 style="margin-bottom:5px;">Mark Anthony Ortega</h3>
<p style="margin-top: 0px;">Ruby on Rails Developer and Entrepreneur</p>
<table>
  <tr>
    <td>Github:&nbsp;<%= link_to "MarksCoin", "http://www.github.com/markscoin" %></td>
  </tr>
  <tr>
    <td>LinkedIn:&nbsp;<%= link_to "Account", "http://www.linkedin.com/in/mortega2/" %></td>
  </tr>
  <tr>
    <td>Facebook:&nbsp;<%= link_to "Account", "http://www.facebook.com/markanthonyortega" %></td>
  </tr>
  <tr>
    <td>Email:&nbsp;<%= mail_to "mortega@utexas.edu", "mortega@utexas.edu" %></td>
  </tr>


</table>